*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Raleway';
  /* HACK REMs */
  font-size: 62.5%;
}

img{
  max-width: 100%;
  /* This fix the gap between img and link */
  display: block;
}

a{
  color: #333;
  text-decoration: none;
  font-family: 'Raleway';
}

.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1rem;
}

.categorias h2{
  text-align: center;
  margin: 20px;
  font-family: 'Playfair Display';
  font-size: 2rem;
}

.categoria a{
  text-align: center;
  /* display: block Permite centrar el elemento */
  /* Por default es inline-block y no permite centrar */
  display: block;
  padding: 20px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.categoria a:hover{
  background-color: #037bc0;
  color: #fff;
}

.listado-categorias{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.sobre-nosotros{
  background-image: linear-gradient(to right, 
                    /* Transparent to see the image */  
                    transparent 60%, 
                    /* From 60%, CUT (No gradient) and show color */  
                    #037bc0 60%, 
                    /* End of color */
                    #037bc0 100%), 
                    url(img/nosotros.jpg);
  /* Position of Text */
  background-position: left center;
  padding: 5rem 0;
  background-repeat: no-repeat;
  background-size: 100%, 60rem;  
}

.sobre-nosotros-grid{
  display: flex;
  justify-content: flex-end;
}

.texto-nosotros{
  flex-basis: 50%;
  padding-left: 13rem;
  color: #fff;
}

.texto-nosotros h2{
  font-family: 'Playfair Display';
}

.gap{
  height:5rem;
  display: block;
}